body {
    font-family: sans-serif;
    background-color: black;
}
header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: lightblue ;
    padding: 15;
    display: flex;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
footer, button{
    color: red;
}
header{
    display: flex;
}
nav{
    display: flex;
}
.info{
    display: flex;
}
article{
    margin-bottom: 200px;
}
.nav-link{
    color: white;
}
.article-but {
    color: white;
}